[Unit]
Description=GoAgent Service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/bin/sh -c "/usr/bin/python /home/phoenix/Downloads/goagent/local/proxy.py"

[Install]
WantedBy=multi-user.target
