[Unit]
Description=Shadowsocks Service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/bin/sh -c "sslocal -c ~/.config/shadowsocks.json"

[Install]
WantedBy=multi-user.target
