html {
    font-family:FreeSans,"Droid Sans",微软雅黑,sans-serif;
    font-size:0.9em
    }
body {
    background:url('images/white_texture.png') repeat;
}

h1 {
		color: rgb(44, 29, 0);
    }
h2 {
		color:rgb(65, 131, 196);
    font-size:120%;
    padding:10px 10px 0;
    margin-bottom:0;
    clear:left;
    }
h3 {
    font-weight:normal;
    }
span p {
    text-align:right;
    font-family:"DejaVu Serif","Times New Roman",FreeSerif,serif;
    padding:0 50px 0 0;}
.fLeft {
    float:left;
        margin-top:5%;
     margin-left:7%;
text-align:left;
    }
.fRight {
    float:right;
    margin-top:13%;
    }
.fLeft, .fRight {
	width:30%;
    display:block;
}
.clearboth {
    clear:both;
    }
    /* 标题下方分界线 */
.dash {
    border-bottom:1px dotted;
    width:86%;
    margin:0 7% 0;
	 color:rgb(65, 131, 196);
    }
    /* 字项目 */
.desc {
    float:left;
    width:14%;
    height:25px;
     margin-left:5%;
     text-align:right;
    }
.context {
    margin-left:17%;
    padding-left:50px;
    margin-bottom:10px;}
.context p,.desc h3{
    margin-top:0;
	font-size:14px;
}
#header {
    text-align:center;}
#me {
	
    width:25%;
    margin:0 auto 0;
    display:block;}
article {
    margin:3% auto 3%;
    background:rgba(255,255,255,0.5);
    max-width:800px;
    min-width:600px;
    border:1px solid rgba(230, 211, 211, 0.5);
    box-shadow:5px 5px 10px 5px rgba(0,102,204,0.6);}

a,
a:link,
a:visited {
 color: rgb(65, 131, 196);
 white-space:nowrap;
 text-decoration:none;
}
a:hover {
 text-decoration:underline;
}
a:active, a:hover {
 outline:0px none;
}