html {
    font-family:FreeSans,"Droid Sans",sans-serif;
    font-size:0.9em
    }
body {
	margin: 1em auto;

    background: #FFFFFF;
    width:50em;
    border:1px solid rgba(230, 211, 211, 0.5);
    border-radius:5px;
   }
a {
	text-decoration:none;
	color:#000000;
}

h1 {
    font-size:150%;
    padding-top:20px;
    }
h2 {
    font-size:120%;
    padding:10px 10px 0;
    margin-bottom:0;
    clear:left;
    }
h3 {
    font-size:90%;
    font-weight:normal;
    }
span p {
    text-align:right;
    font-family:"DejaVu Serif","Times New Roman",FreeSerif,serif;
    padding:5px 10px 0 0;}
.fLeft {
    float:left;   
    }
.fRight {
    float:right;
    }
.fLeft, .fRight {
	width:30%;
    display:block;
    margin-top:45px;
    margin-left:1%;
}
.clearboth {
    clear:both;
    }
.dash {
    border-bottom:1px dotted;
    width:94%;
    margin:0 3% 0
    }
.desc {
    float:left;
    width:15%;
    height:30px;
    margin-left:5%
    }
.context {
    margin-left:15%;
    padding-left:50px;
    margin-bottom:10px;}
.context p,.desc h3{
    margin-top:0;
    margin-bottom:5px;
    padding:5px 0 0;}
#header {
    text-align:center;}
#me {
    width:25%;
    margin:0 auto 0;
    display:block;}
#main {
		
    }
